* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* overflow: hidden; */
}
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#spinner {
  width: 14rem;
  height: 14rem;
  border: 1rem solid #2c3e50;
  border-radius: 50%;
  border-top: #eee solid 1rem;
  /* transform: scale(2); */
  animation: spinner linear 1s infinite;
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
.container {
  width: 100%;
  height: 650px;
  min-height: 100vh;
  background: url(/img/warty-final-ubuntu.png) no-repeat center center/cover;
  position: relative;
}

/* top-bar */
.top-bar {
  width: 100%;
  height: 3rem;
  background-color: black;
  color: #fff;
  display: flex;
  position: relative;
}
.top-bar .act {
  width: 9.5rem;
  height: 100%;
  float: left;
  border-bottom: 0.3rem solid transparent;
  cursor: default;
}
.act div,
#today {
  text-align: center;
  font-size: 1.7rem;
  line-height: 3rem;
}

.top-bar #time {
  width: 15rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
} 
#time #today{
  width: 100%;
  height: 100%;
  border-bottom: 0.2rem solid transparent;
  transition: all ease-out 0.2s;
  cursor: default;
}

#time-box {
  width: 50rem;
  height: 40rem;
  position: absolute;
  opacity: 0;
  transform: scaleY(0);
  top: 3.3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform-origin: top right;
  transition: all ease-out 0.2s;
}
.triangle {
  width: 1.2rem;
  height: 0;
  border-bottom: 1.2rem solid #fff;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  transform: translateY(0.1rem);
  transform-origin: top;
}
#time-box .content {
  width: 100%;
  height: calc(100% - 1.2rem);
  background-color: #fff;
  border-radius: 0.4rem;
}

/* setting */

.top-bar #setting {
  width: 10rem;
  height: 100%;
  float: right;
  position: relative;
}
 #setting #setting-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  cursor: default;
  border-bottom: 0.2rem solid transparent;
  transition: all ease-out 0.2s;
}
#setting .fas {
  font-size: 1.4rem;
  line-height: 3rem;
}

#setting-box {
  width: 25rem;
  height: calc(100% * 10);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top right;
  position: absolute;
  top: 3.2rem;
  right: 1.3rem;
  transition: all ease-out 0.2s;
}
#setting-box .triangle{
  margin-left: 80%;
}

#setting-box .option-box {
  width: 100%;
  height: calc(100% - 1.2rem);
  background-color: #fff;
  border-radius: 0.4rem;
}

/* dash */
.dash {
  height: calc(100% - 3rem);
  width: 7rem;
  background-color: #1c2833;
  position: relative;
}
.dash .icon-box {
  width: 100%;
  height: calc(100% - 7rem);
  padding: 0.3rem 0.4rem 0.3rem 0.2rem;
}
.dash .icons {
  width: 100%;
  height: 6.4rem;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all ease-in-out 0.4s;
}
.dash .icons:hover {
  background-color: #2c3e50;
  cursor: default;
}
.dash .icons img {
  width: 100%;
  height: 100%;
}
.dash .all-apps {
  width: 100%;
  height: 7rem;
  padding: 0.3rem 0.4rem 0.3rem 0.2rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.back{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  padding: 5rem 0 0;
  flex-direction: column;
  overflow: hidden;
}
.back::before{
  content: '';
  position: absolute;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
  z-index: 9999;
}
.back .input{
  width: 35rem;
  height: 3.5rem;
  /* background: #eee; */
  /* margin: 0 auto; */
  align-self: center;
}
.back .input #search{
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: #fff;
  padding: 0 2rem;
  position: relative;
  z-index: 99999;
  font-size: 1.6rem;
  line-height: 100%;
}
::placeholder{
  color: #777;
}
.workspace{
  width: 17rem;
  height: 85%;
  align-self: flex-end;
  margin-right: -10rem;
  transition: all ease-out 0.3s;
  padding: .1rem 0 .1rem .1rem;
  position: relative;
  z-index: 99999;
}
.workspace::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
}
.workspace:hover{
  margin-right: 0;
}
.workspace img{
  width: 100%;
  border: .3rem solid transparent;
  position: relative;
}
.workspace img:hover{
  border: .3rem solid #dd4814;
}
